@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    background-color: azure;
}

header {
    margin: 30px;
    text-align: center;
}

article {
    background-color: white;
    width: 100%;
    max-width: 550px;
    margin: auto;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
}

p {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

h2 {
    display: inline-block;
    margin-bottom: 15px;
}

h2:first-of-type {
    margin-top: 15px;
}

.informacoes p {
    margin: 10px 0px;
}

input[type="number"] {
    width: 120px;
    padding: 3px;
}

input[type="button"] {
    padding: 3px 8px;
    cursor: pointer;
}

select {
    width: 180px;
    margin-bottom: 15px;
    padding: 5px;
}

footer {
    margin-top: 20px;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}

footer a {
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.250);
}

footer a:hover {
    color: cadetblue;
}