@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: lightcyan;
}

header {
    color: darkblue;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.250);
    margin: 50px auto 30px auto;
}

article {
    background-color: white;
    width: 100%;
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.250);
}

input:not(:last-child) {
    margin: 10px 0px 10px 10px;
    padding: 2px;
}

input[type="button"] {
    background-color: rgb(0, 0, 202);
    color: white;
    margin: 10px 0px 15px 0px;
    padding: 8px;
    font-size: 1.1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contagem {
    text-align: justify;
}

footer {
    text-align: center;
}

footer a {
    text-decoration: none;
    color: darkblue;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.250);
}

footer a:hover {
    color: blue;
}